body {
    margin: 0;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

a {
    display: inline-block;
    padding: 0.5rem;
    position: relative;
}

a:hover::before {
    transform: scale(2);
}

a:hover::after {
    opacity: 1;
}

a::after {
    content: attr(href);
    position: absolute;
    left: -3.5rem;
    top: 0.25rem;
    font-size: 0.75rem;
    font-family: sans-serif;
    color: white;
    opacity: 0;
    transition: opacity .25s;
}

a::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 0.5rem;
    transition:  transform 0.25s;
}

section {
    scroll-snap-align: center;
    /* scroll-snap-stop: always; */
    min-height: 100vh;
    width: 100%;
    color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

section:nth-of-type(1) {
    background-color: #ff5f45;
}
section:nth-of-type(2) {
    background-color: #0798ec;
}
section:nth-of-type(3) {
    background-color: #fc6c7c;
}
section:nth-of-type(4) {
    background-color: #fec401;
}