*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F7F2F2;

}
a{
    text-decoration: none;
    color:black;
    margin:5px ;
}
.navbar{
    position:fixed;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding:8px 12px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}
.navbar__logo > a{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: bold;
}

.navbar__menu{
    display: flex;
    list-style: none;
    border-radius: 30px;
    background-color: #eeeeee;
    padding-left: 0;
}


.navbar__menu li{
    padding: 8px 12px;
}

.navbar__lcons{
    display: flex;
    list-style: none;
    padding: 8px 12px;
    font-size: 24px;
}
.navbar__lcons{
    margin-left: 3px;
}

li.active{
    background-color: white;
    border-radius: 30px;
}

li:hover{
    background-color: white;
    border-radius: 30px;
}
#toggle__button {
    display: none;
    width: 28px;
    height: 30px;
    margin: 10px auto;
  }
#toggle__button div{
        width: 100%;
        height: 5px;
        background: black;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden;
    }

.main{
    padding-top: 65px;
}
.Home, .About, .Skills, .Timetable, .Project {
    width: 100%;
    height: 100vh;
    padding: 50px 13% 100px 13%;
    
}

.Home{
    display: grid;
    background-color: aquamarine;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:20px;
}

.About{
    background-color:bisque;
}

.Skills{
    background-color: black;
    color: white;
}

.Timetable{
    background-color:chocolate;
}

.Project{
    background-color:darkolivegreen;
}

@media screen and (max-width:768px){
    .navbar {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #toggle__button {
        display: block;
        position: fixed;
        top:7.5px;
        right: 32px;
    }
    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
  
    .navbar__lcons{
        display:flex;
        justify-content: center;
        width: 100%;
        padding-left: 0px;
        position: fixed;
        margin-left: -6px;
    }
  
    .navbar__menu.active{
        display:flex;
        position: fixed;
        left:0;
        top:65px;
        background-color: #ffffff;
        border-radius: 0;
    }
    .navbar__menu.active li.active{
        background-color: #eeeeee;
    }

    #toggle__button.on .one {
        transform: rotate(45deg) translate(5px, 5px);
      }
      
      #toggle__button.on .two {
        opacity: 0;
      }
      
      #toggle__button.on .three {
        transform: rotate(-45deg) translate(7px, -8px);
      }

      .navbar__lcons.active{
        
       margin-left: -6px;
      }
 
}
