*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background-color: #f7f2f2;
}
li{
    list-style: none;
    float: left;
    padding:10px;
    margin-left: 2px;
    margin-right: 2px;
    color:black;
}

header{
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 50px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 7vw;
}
nav{
    border-radius: 23px;
    background-color: #00000021;
    padding: 5px;
}

nav ul a{
    font-size: 14px;
}

nav ul li:hover{
    background-color:white;
    border-radius: 20px;
}

.active{
    background-color: white;
    border-radius: 20px;
}

section div{
    border-radius:32px;
}
section{
    border-radius: 32px;
    margin: 0 auto;
    width: 1300px;
    height: auto;
    padding: 0 7vw;
}

section .time_button{
    margin: 0 auto;
    margin-bottom: 5px;
    display: flex;
    width: 900px;
    height: 50px;

    justify-content: space-around;
    align-items: center;
}

section .time_semester{
    margin: 0 auto;
    margin-bottom: 5px;
    display: flex;
    width: 900px;
    height: 50px;

    justify-content: space-around;
    align-items: center;
}

section .time_table{
    margin: 0 auto;
    margin-bottom: 5px;
    display: flex;
    width: 900px;
    justify-content: space-around;
}


table,
thead,
tbody,
tfoot,
tr,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

.subject1 {
    background-color: lightgray;
}

.subject2 {
    background-color: #FAF4C0;
}
.subject3 {
    background-color: #3a350c;
    color:azure
}
.subject4 {
    background-color: #9ad1af;

}
th,
td {
    width: 55px;
    height: 50px;
}
