* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f2f2;
}

/* 헤더 부분 css */

header {
    display: flex;
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 65px;
    justify-content: space-between;
    align-items: center;
}



.nav {
    border-radius: 23px;
    background-color: #00000021;
    padding: 5px;
}

li {
    list-style: none;
    float: left;/* 가로 정렬 */
    margin-left: 2px;
    margin-right: 2px;
    color: black;
}

a{
    display: block;
    text-decoration: none;
    color:black;
    padding: 10px;
}

.active {
    background-color: white;
    border-radius: 20px;
}

.nav ul li:hover {
    background-color: white;
    border-radius: 20px;
}



/* 섹션 부분 css */

section {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 25px;
    border-radius: 24px;
}

/* 섹션 about css */

.about_box {
    display: flex;
    width: 100%;
    padding: 35px;
    margin: 0 auto;
}

.about_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about_img {
    display: flex;
    width: 30%;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
}

.imgW {
    border-radius: 50%;
}

/* 섹션 skills css */

.skill_c_box {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 24px;
    padding: 35px;
    margin-bottom: 20px;

}

.skill_box {
    width: 50%;
    margin-right: 30px;
    margin-left: 30px;
}

.c_box {
    width: 50%;
    margin-right: 30px;
}

.skills_wrap h4 {
    margin-bottom: 10px;
}

.skills_wrap {
    margin-top: 35px;
    width: 80%;
}

/* 섹션 skills progress bar css */

.progress-bar {
    position: relative;
}

.progress-bar span {
    position: absolute;
    right: -15px;
    top: -30px;
    font-weight: 600;
}

.progress {
    height: 6px;
    background: #f2f3f7;
    border-radius: 4px;
}

.progress-bar.color-1 {
    background: #b4e6d5;
    height: 6px;
    border-radius: 4px;
}

.progress-bar.color-2 {
    background: #8dcfe9;
    height: 6px;
    border-radius: 4px;
}

.progress-bar.color-3 {
    background: #c389c9;
    height: 6px;
    border-radius: 4px;
}

.progress-bar.color-4 {
    background: #8da2e9;
    height: 6px;
    border-radius: 4px;
}

/* 가로 768 이하 css */

@media all and (max-width:768px) {

    section {
        width: 85%;
    }

    header {
        width: 80%;
        flex-wrap: wrap;
        /*영역내에서 벗어나지 않게 여러 행으로 나누어 표현*/
        justify-content: space-around;
    }

    .nav {
        margin: 0 auto;
        /* 가운데 정렬*/
        order: 3;
    }

    .about_box {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about_img {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .imgW {
        width: 140px;
        height: 140px;
    }

    .about_box p {
        margin-bottom: 10px;
    }

    .skill_c_box {
        flex-direction: column;
        /* 세로 정렬 */
    }

    .skill_box {
        margin: 0px;
        width: 100%;
        margin-bottom: 30px;
    }

    .c_box {
        width: 100%;
    }




}
